:root {
  --bg-color: #FFFEF2;
  --success-green: #198754;
}

body {
  background-color: var(--bg-color);
}

.main {
  background-color: var(--bg-color);
}

.user-info {
  padding: 2em;
  background-color: var(--bg-color);
}

.user-name {
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
}

.user-image {
  width: 8em;
  transition: .3s ease;
}

.user-image:hover {
  opacity: .5;
  transition: .3s ease;
}

.logo {
  width: 8em;
}

.lines {
  background-color: var(--bg-color);
}

.line {
  width: 100%;
  height: 0.1em;
  margin: 0.8em;
}

.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: var(--bg-color);
}

.card-deck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.radio-container {
  display: flex;
  justify-content: space-between;
  margin: 2em 0.5em 2em 0.5em;
}

.radio-button {
  font-size: 1.2em;
  font-weight: bold;
}

input {
  display: none;
}

@media only screen and (max-width: 768px) {
  .radio-container {
    justify-content: center;
    flex-wrap: wrap;
  }

  .radio-button {
    margin: 1em 0 1em 0;
  }
}