body {
    background-color: #333;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    font-size: 6rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0.5em;
}

.subtitle {
    font-size: 2em;
    color: #fff;
    margin-bottom: 3em;
}